<% content_for :head do %>
  <script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
<% end %>

<% content_for :title_bar do %>
  <h1>
    <%= link_to content_tag(:i, '', class: "fa fa-chevron-left"), excavations_path, title: 'back' %> <%= @excavation.name %>
    <%= content_tag :div, class: 'pull-right' do %>
      <%= link_to 'Edit excavation', edit_excavation_path(@excavation), class: 'btn btn-default' %>
      <%= link_to 'Destroy', @excavation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
    <% end if user_signed_in? %>
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div id="name">
      <p>
        <i class="fa fa-map-marker" style="color:#428bca;"></i>
        <%= @excavation.name %> <%= "(#{@excavation.shortcut})" if @excavation.shortcut.present? %>
      </p>
    </div>
    <%= content_tag "div", id: "gazetter", data: {url: "http://gazetteer.dainst.org/doc/#{@excavation.dai_gazetter_id}.json", place: @excavation.id} do %>
      <div id="loading">Loading details... <%= image_tag('loader.gif') %></div>
      <div id="data" style="display:none;" class="well"></div>
    <% end %>

    <div style='width: 100%;' class="well">
      <div id="map" style='width: 100%; height: 400px;'></div>
      <p><small><strong>Location: </strong><%= "[#{@excavation.latitude}, #{@excavation.longitude}]" %></small></p>
    </div>
    <br>

    <% if user_signed_in? %>
      <p>
        <strong>Creator:</strong>
        <%= @excavation.creator.try(:email) %>
      <br>
        <strong>Updater:</strong>
        <%= @excavation.updater.try(:email) %>
      </p>
    <% end %>

  </div>
  <div class="col-sm-6">
    <h4>Artefacts from <%= @excavation.name %></h4>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Identificators</td>
          <td>Info</td>
        </tr>
      </thead>
      <tbody>
        <%= render @excavation.artefacts %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {mapTypeId: google.maps.MapTypeId.SATELLITE}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>


<script type="text/javascript">
jQuery(document).ready(function($) {
  return jQuery.ajax({
    type: "get",
    url: $("#gazetter").data("url"),
    dataType: "json",
    success: function(data) {
      var latitude, links, longitude, names, place;
      $("#loading").hide(data);
      $("#data").show(data);
      $("#data").append("<p><strong>Name: </strong>" + data.prefName.title + "</p>");
      names = "<strong>Other names: </strong>";
      names += "<ul class='list-unstyled'>";
      $.each(data.names, function(i, name) {
        names += "<li>" + name.title + " (" + name.language + ")" + "</li>";
      });
      names += "</ul>";
      $(names).appendTo("#data");
      links = "<strong>Links: </strong>";
      links += "<ul class='list-unstyled'>";
      $.each(data.links, function(i, link) {
        links += "<li>" + "<a href=" + link.object + ">" + link.object + "</a>" + " (" + link.predicate + ")" + "</li>";
      });
      links += "</ul>";
      $(links).appendTo("#data");
      place = $("#gazetter").data("place");
      longitude = data.prefLocation.coordinates[0];
      latitude = data.prefLocation.coordinates[1];
      $("#data").append("<p><strong>Lage: </strong>" + "<em>Breite: </em>" + latitude + ", " + "<em>Länge: </em>" + longitude + "</p>");
      $("#data").append("<p><strong>Liegt in: </strong>" + "<a href=" + data.parent + ">" + data.parent + "</a>" + "</p>");
      $("#data").append("<p><i class='fa fa-info-circle'></i> <strong>Daten von: </strong>" + "<a href=" + data['@id'] + ">" + data['@id'] + "</a>" + "</p>");
    }
  });
});
</script>