<div class="row">
  <div class="col-sm-8">
	<%= simple_form_for(@vocabulary) do |f| %>
      <%= f.error_notification %>

      <%= content_tag :div, id: 'terms' do %>
        <%= f.simple_fields_for :terms do |ident| %>
          <%= render 'term_fields', f: ident %>
        <% end %>
        <div class="add-fields">
          <%= link_to_add_association 'add language', f, :terms, class: 'col-sm-offset-3' %>
        </div>
      <% end %>

  	  <div class="form-inputs">
    	<%= f.input :record_type, collection: ["hierarchy", "concept"] %>
    	<%= f.input :parent_id, collection: Vocabulary.possible_parents(@vocabulary), label_method: :name_for_select, value_method: :id, include_blank: true %>
  	  </div>

      <%= content_tag :div, id: 'comments' do %>
        <%= f.simple_fields_for :comments do |ident| %>
          <%= render 'comment_fields', f: ident %>
        <% end %>
        <div class="add-fields">
          <%= link_to_add_association 'add note', f, :comments, class: 'col-sm-offset-3' %>
        </div>
      <% end %>

  	  <div class="form-actions">
    	<%= f.button :submit %>
  	  </div>
	<% end %>
  </div>
</div>
