<h1>Listing vocabularies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Record type</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.arrange_as_tree.each do |vocabulary| %>
      <tr>
        <td><%= vocabulary.prefered_term.name %></td>
        <td><%= vocabulary.record_type %></td>
        <td><%= vocabulary.parent_id %></td>
        <td><%= link_to 'Show', vocabulary %></td>
        <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
        <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vocabulary', new_vocabulary_path %>
