<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for @artefact, html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>
    
      <%= f.error_notification %>
    
      <%= f.input :dez %>
      <%= f.input :dez_index %>
      <%= f.input :dimensions %>
      <%= f.input :dimensions_type %>
      <%= f.input :weight %>
      <%= f.input :in_exhibition %>
    
      <%= content_tag :div, id: 'artefact_identificators' do %>
        <%= f.simple_fields_for :artefact_identificators do |ident| %>
          <%= render 'artefact_identificator_fields', f: ident %>
        <% end %>
        <div class="add-fields">
          <%= link_to_add_association 'add identificator', f, :artefact_identificators, class: 'col-sm-offset-3' %>
        </div>
      <% end %>
    
      <%= f.button :submit, class: 'col-sm-offset-3', style: 'margin-top:20px;' %>
    <% end %>
  </div>
</div>