<% content_for :title_bar do %>
  <h1>
    Artefacts
    <%= link_to 'Add Artefact', new_artefact_path, class: 'btn btn-default pull-right' if user_signed_in? %>
  </h1>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td class="col-sm-3">Identificators</td>
      <td class="col-sm-2">Dimensions</td>
      <td class="col-sm-6">Info</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @artefacts.order(dez: :asc).each do |artefact| %>
      <tr>
        <td>
    <p><%= artefact.name %></p>
    <%= content_tag :p do %>
      <small>
        <%= artefact.artefact_identificators.map{|ai| link_to(ai.excavation_name, ai.excavation)}.join(', ').html_safe %>
      </small>
    <% end if artefact.artefact_identificators.any? %>
  </td>
  <td class="col-sm-2">
    <p>
      <%= artefact.dimensions %>
      <%= artefact.dimensions_type %>
      <%= artefact.weight %>
    </p>
  </td>
  <td class="col-sm-6">
    <p><%= artefact.terms.map{|t| link_to(t.prefered_term.name, t)}.join(', ').html_safe %></p>
    <p style="font-size: 80%"><%= truncate(artefact.comments.last.content) if artefact.comments.any? %></p>
  </td>
  <td class="col-sm-1">
    <%= link_to content_tag(:i, '', class: 'fa fa-chevron-right fa-1x'), artefact, class: 'pull-right', title: 'show artefact' %>
  </td>
</tr>
    <% end %>
  </tbody>
</table>

<br>


