<h1>Listing artefacts</h1>

<table>
  <thead>
    <tr>
      <th>DeZ</th>
      <th>Dimensions</th>
      <th>Dimensions type</th>
      <th>Weight</th>
      <th>In exhibition</th>
      <th>Creator</th>
      <th>Updater</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artefacts.each do |artefact| %>
      <tr>
        <td><%= artefact.dez %><td><%= artefact.dez_index %></td></td>
        <td><%= artefact.dimensions %></td>
        <td><%= artefact.dimensions_type %></td>
        <td><%= artefact.weight %></td>
        <td><%= artefact.in_exhibition %></td>
        <td><%= artefact.creator_id %></td>
        <td><%= artefact.updater_id %></td>
        <td><%= link_to 'Show', artefact %></td>
        <td><%= link_to 'Edit', edit_artefact_path(artefact) %></td>
        <td><%= link_to 'Destroy', artefact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artefact', new_artefact_path %>
